* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(192, 214, 192);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 440px;
  height: 220px;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  margin: 50px;
}

.pokemon-title {
  width: 150px;
  line-height: 1.5;
  height: 100px;
}

.img {
  position: absolute;
  top: 5px;
  left: 300px;
  bottom: 20px;
}

.pokemon-img {
  height: 220px;
  width: 220px;
  z-index: 2;
  bottom: 20px;
}

.pokeball-img {
  opacity: 0.1;
  height: 50%;
  position: absolute;
  bottom: 0;
}

.type-img {
  width: 110px;
  z-index: 3;
}

.bottom-nav {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  z-index: 3;
  position: absolute;
}
